{% extends "lista.html.twig" %}


{% block header %}<i class="icon_group"></i> Usuarios {% endblock %}

{% block  miga %}
    <li><a href=""><i class="icon_group"></i> Usuarios  </a></li>
{% endblock %}

{% block table_name%} Usuarios {% endblock %}